html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: normal normal normal 1rem/1.6 -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

body {
  font-family: "Calibri Light", Helvetica, Arial, sans-serif;
  background-color: lightblue;
}

h1 {
  font-stretch: condensed;
  letter-spacing: 0.2em;
}

.heading {
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  font-size: 2.1rem;
}

.mainbody {
  margin: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

.courier {
  font-family: "Courier New", Courier, monospace;
}

.tab {
  margin-left: 10px
}

footer {
  margin-top: 20px;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
}
